<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sunggae0</title>
    <link rel="stylesheet" href="../../css/introduce.css">
</head>
<body style="background-color: #f7d5b1">
    <div class="nickname">
        <p class="introduce">박성게</p>
        <a class="title" href="https://www.instagram.com/sunggae0/">"sunggae0"</a>
        <p class="subtitle">2024125026 05년생 박성재</p>
    </div>
    <div class="info">
        <div class="face">
            <div class="img1">
                <img src="../../img/myface2.jpg" alt="face" class="face_img">
                <p class="img_explanation">노말 폼</p>
            </div>
            <div class="img2">
                <img src="../../img/myface.jpg" alt="face2" class="face_img2">
                <p class="img_explanation2">신났을 때의 본 모습</p>
                <p class="img_explanation2-1">(매우 위험하므로 취급에 주의해야 한다.)</p>
            </div>
        </div>
        <div class="history">
            <p class="graduate">학력사항</p>
            <p class="element">2023 | 서정고등학교 졸업 (고졸)</p>
        </div>
    </div>
</body>
</html>